apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: test-app

  template:
    metadata:
      labels:
        app: test-app
    spec:
      containers:
      - name: test-pod
        image: dantej/flask-ec2deploy:34

---

apiVersion: v1
kind: Service
metadata:
  name: flask-app-service
spec:
  selector:
    app: test-app
  ports:
    - protocol: 'TCP'
      port: 80
      targetPort: 3000
  type: LoadBalancer

  # after KUBECTL APPLY this file, run "minikube service flask-app-service"